.hero{
  height: 100%;
  width:100%;
  background-color: $bg-color;
  background-position: center;
  background-size: cover;
  position: absolute;
  h2{
    text-align: center;
    color: $white;
    font-size: $fs-32-cn;
    padding-top: $p-15-cn;
  }
  
}
.form-box{
  width: 400px;
  height: 500px;
  position: relative;
  margin: 5% auto;
  background: $white-1-cn;
  padding: 5px;
  overflow: hidden;
}
.button-box{
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px $box-sh;
  border-radius: 30px;
}
.toggle-btn{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: $bg;
  border-radius:  30px;
  transition: .5s;
}
.input-group{
  top: 140px;
  position: absolute;
  width: 280px;
  transition: .5s;
  a{
    color: $black-1-cn;
    text-decoration: none;
  }
  p{
    margin-top: $m-5-cn;
  }
}
.input-field{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid $bd-bot;
  outline: none;
  background: transparent;
}
.submit-btn{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: $bg;
  border: 0;
  outline: none;
  border-radius: 30px;
}
#gender{
  margin-bottom: $m-20-cn;
  margin-top: $p-10-cn;
}
.chech-box{
  margin: 30px 10px 30px 0;
}

#login{
  left: 50px;
}
#signUp{
  left: 450px;
}