/* màu sắc
-------------------------------------------------- */
$white-1-cn: white;
$lightWhite-1-cn: rgba(255, 255, 255, 0.8);
$black-1-cn: rgba(0, 0, 0, .9);
$black-2-cn: rgba(0, 0, 0, .4);
$green-1-cn: green;
$green-2-cn: rgba(0, 128, 0, 0.5);
$red-1-cn: red;
$gray-1-cn: rgba(194, 194, 194, 0.2);
$gray-2-cn: rgba(194, 194, 194, 0.6);
$transparent: transparent;

$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;
$main: #1ab188;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);
$gray-light: #a0b3b0;
$gray: #ddd;
$gray-3-cn: rgba(194, 194, 194, 1);
/* font-weight
-------------------------------------------------- */
$fw-n-cn: 400;
$fw-b-cn: 700;
/* font-size
-------------------------------------------------- */
$fs-8-cn: 8px;
$fs-16-cn: 16px;
$fs-24-cn: 24px;
$fs-32-cn: 32px;
/* margin
-------------------------------------------------- */
$m-5-cn: 5px;
$m-10-cn: 10px;
$m-20-cn: 20px;
/* padding
-------------------------------------------------- */
$p-5-cn: 5px;
$p-10-cn: 10px;
$p-15-cn: 15px;
$p-50-cn: 50px;
$p-100-cn: 100px;
/* border radius
-------------------------------------------------- */
$border-curse: 5px;
$border-1: 1px solid;
/* phần trăm
-------------------------------------------------- */
$percen-80: 80%;
$percen-30: 30%;
$percen-20: 20%;
/* responsive
-------------------------------------------------- */
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1400px;

// Carts
$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;