<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gio hang</title>
    <!-- font Roboto  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- google icon -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <!-- bootstrap@4.6.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- font-awesome/6.4.0 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- main css -->
    <link rel="stylesheet" href="../asset/css/main.css">
</head>

<body>

    <header>
        <div class="header__botNav navbar navbar-light bg-light pb-4">
            <div class="container flex-row-reverse justify-content-start">
                <div class="header__user ml-3 p-1">
                    <i class="fa-solid fa-user mr-2"></i>
                    <span id="nameUser"></span>
                </div>
            </div>
        </div>
    </header>
    
    <div class="title container pt-5">
        <p class="text-center">YOUR CARTS</p>
        <hr>
    </div>


    <section class="card-body container">
        <table class="table table-hover myTable">
            <thead class="text-dark ">
                <tr>
                    <td>IMG</td>
                    <td>NAME PRODUCT</td>
                    <td>PRICE</th>
                    <td>QUANTITY</td>
                    <td>TOTAL</td>
                    <td>DELETE</td>
                </tr>
            </thead>

            <tbody class="cart-items-container"></tbody>


        </table>
    </section>


    <section id="cart-bottom" class="container">
        <div class="row">
            <div class="cupon col-lg-6 col-ml-6 col-12 mb-4">
                <div>
                    <h5>COUPON</h5>
                    <p>Enter your coupon if you have</p>
                    <input type="text" placeholder="Coupon code">
                    <button>APPLY COUPON</button>
                </div>
            </div>
            <div class="total col-lg-6 col-ml-6 col-12">
                <div class="div-total">
                    <h5>CART TOTAL</h5>
                    <div class="d-flex justify-content-between">
                        <h6>Subtotal</h6>
                        <div class="total-container">Total: $<span id="total-sub"></span></div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6>Shipping</h6>
                        <div class="total-container">Free</div>
                    </div>
                    <hr class="second-hr">
                    <div class="d-flex justify-content-between">
                        <h6>Total</h6>
                        <div class="total-container">Total: $<span id="total-amount"></span></div>
                    </div>

                    <button class="checkout-btn ml-auto">PROCEED TO CHECKOUT</button>
                </div>
            </div>
        </div>

    </section>


    <!-- <div class="cart-items-container"></div> -->


    <footer>
        <div class="container">
            <div class="row mb-3">
                <div class="col-12 col-sm-6 col-md-4">
                    <h2>GET HELP</h2>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Nike</a></li>
                        <li><a href="#">Adidas</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-support col-12 col-sm-6 col-md-4 ">
                    <h2>SUPPORT</h2>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Phone</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <h2>REGISTER</h2>
                    <ul>
                        <li><a href="#">register</a></li>
                        <li><a href="#">login</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class='bot-footer navbar-light bg-light'>
            © 2022 Cybersoft All Right Reserved | Design Theme by Trương Tấn Khải
        </div>
    </footer>
    <!-- bootstrap@4.6.2 -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    
    <!-- JS -->
    <script src="../controller/carts2.js"></script>
    
</body>

</html>