<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoes Shop</title>
    <!-- font Roboto  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- google icon -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <!-- bootstrap@4.6.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- font-awesome/6.4.0 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- main css -->
    <link rel="stylesheet" href="../asset/css/main.css">
</head>

<body>
    <!--=====================================
    =                Header                =
    ======================================-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light pt-5">
            <div class="container">
                <a class="navbar-brand" href="#">CyperSoft</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarShoesShop"
                    aria-controls="navbarShoesShop" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarShoesShop">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Men</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Women</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Kid</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Sport</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <div class="nav-item dropdown">
                            <a class="nav-link pl-0 dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                aria-expanded="false">
                                All
                            </a>
                            <div class="dropdown-menu">
                                <!-- js render -->
                            </div>
                        </div>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="button">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="header__botNav navbar navbar-light bg-light pb-4">
            <div class="container flex-row-reverse justify-content-start">
                <div class="header__user ml-3 p-1">
                    <i class="fa-solid fa-user"></i>
                    <span class="ml-2">Login</span>
                </div>
                <div class="nav-item dropdown d-none">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-expanded="false">NganHa
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item">logout</a>
                    </div>
                </div>
                <div class="header__cart position-relative p-1 d-none">
                    <span class="badge badge-primary badge-pill position-absolute header__cart__badge">0</span>
                    <span class="material-symbols-outlined header__cart__icon">
                        shopping_cart
                    </span>
                </div>
            </div>
        </div>
    </header>
    <!--=====================================
    =                Detail                =
    ======================================-->
    <section class="detail">
        <div class="container">
            <!-- js render  -->
        </div>
    </section>
    <!--=====================================
    =                Products                =
    ======================================-->
    <section class="products">
        <div class="container">
            <div class="products__title">
                - Realate Product -
            </div>
            <div class="products__list">
                <!-- js render -->
            </div>
        </div>
    </section>
    <!--=====================================
    =                Footer                =
    ======================================-->
    <footer>
        <div class="container">
            <div class="row mb-3">
                <div class="col-12 col-sm-6 col-md-4">
                    <h2>GET HELP</h2>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Nike</a></li>
                        <li><a href="#">Adidas</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-support col-12 col-sm-6 col-md-4 ">
                    <h2>SUPPORT</h2>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Phone</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <h2>REGISTER</h2>
                    <ul>
                        <li><a href="#">register</a></li>
                        <li><a href="#">login</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class='bot-footer navbar-light bg-light'>
            © 2022 Cybersoft All Right Reserved | Design Theme by Trương Tấn Khải
        </div>
    </footer>
    <!--=====================================
    =                cart-dialog                =
    ======================================-->
    <div id="cart-dailog" class="w-100 h-100 cart-dailog d-none">
        <div class="cart p-3">
            <div class="d-flex justify-content-between align-items-center border-bottom">
                <p class="m-0 cart-dailog__title">Shoes cart</p>
                <p class="m-0" id="totalItems-dailog">0 item</p>
            </div>
            <div class="card-dailog__listRecord">
                Not any thing
            </div>
            <div class="mb-2 border-bottom text-right cart-dailog__total-price">
                Total: 0$
            </div>
            <div class="cart-dailog__buttons">
                <button class="btn btn-success">Buy</button>
                <button class="btn btn-danger">Close</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
        integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- sweetalert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- index.js -->
    <script src="../services/global.js"></script>
    <script type="module" src="../services/product-detail.js"></script>
</body>

</html>